/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:31:28 AM
    Author     : Norm
*/


@import "common";

footer {
    // border: 3px solid red;
    width: 95vw;
    height: 200px;
    margin: 0 auto;

    .upper-part {
        /*border: 3px solid red;*/
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #d8d3c2;
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "left center right";
        justify-items: center;
        @include max-mixin(1024px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "left left" "center right";
        }
        @include max-mixin(600px) {
            grid-template-columns: 1fr;
            grid-template-areas: "left" "center" "right";
        }
        
        .footer-box {
            /*border: 3px solid red;*/
        }
        .center {
            /*border: 2px solid red;*/
            /*        font-family: 'Open Sans Semi-Bold';
                    font-size: 24px;*/
        }
        .left {
            /*border: 2px solid red;*/
            grid-area: left;
            @extend %font-h8;
            font-size: 64px;
            align-self: center;
            word-spacing: -5px;
            line-height: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
            
            @include max-mixin(330px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @include max-mixin(400px) {
                font-size: 48px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
/*            .elemental {
                border: 3px solid red;
            }
            .shift {
                border: 3px solid blue;
            }*/
        }
        .center {
            grid-area: center;
            /*@include max-mixin(600px) {*/
                justify-items:  center;
                align-self: center;
                text-align: center;
            /*}*/
        }
        .right {
            /*border: 2px solid red;*/
            grid-area: right;
            /*@include max-mixin(600px) {*/
                justify-items:  center;
                align-self: center;
                text-align: center;
            /*}*/
        }

        .center, .right {
            /*border: 2px solid red;*/
            @extend %font-p5;
        }
    }
    // .lower-part {
    //     /*border: 2px solid red;*/
    //     padding-top: 10px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     color: #957a2b;
    //     font-size: 16px;

    // }
    .lower-part {
        /*border: 2px solid red;*/
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #957a2b;
        font-size: 16px;

        .credit-brand {
            @extend %font-credit-brand;
            /*font-weight: bold;*/
        }
        .credit-name {
            @extend %font-credit-name;
            /*font-weight: bold;*/
        }
        .credit-tagline {
            @extend %font-credit-tagline;
        }
    }

}

