/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2019, 10:55:14 PM
    Author     : Norm
*/

@import "common";
@import url("https://fonts.googleapis.com/css?family=Delius|Eagle+Lake|Griffy|Metal+Mania|Tillana");

body {
    width: 100%; //70%;
    margin: 0 auto;
}
.hamburger {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

main {
    text-align: center;

    .header-block {
        .text {
            /*border: 3px solid red;*/
            width: 100%;
            height: 540px;
            /*background-color: rgba(153, 204, 153, .2);*/
            $opacity: 1;

            background-image: linear-gradient(
                to right,
                /* #99CC99 */ rgba(153, 204, 153, 1),
                /* #ECF4E9 */ rgba(236, 244, 233, 1),
                /* #EDF4EA */ rgba(237, 244, 234, 1),
                /* #FEFFFF */ rgba(254, 255, 255, 1),
                /* #FEFFFF */ rgba(254, 255, 255, 1),
                /* #EDF4EA*/ rgba(237, 244, 234, 1),
                /* #ECF4E9 */ rgba(236, 244, 233, 1),
                /* #99CC99 */ rgba(153, 204, 153, 1)
            );

            background-image: linear-gradient(
                to right,
                /*#DEF7E6,*/ rgba(222, 247, 230, $opacity),
                /*#ECF4E9,*/ rgba(236, 244, 233, $opacity),
                /*#EDF4EA,*/ rgba(237, 244, 234, $opacity),
                /*#FEFFFF,*/ rgba(254, 255, 255, $opacity),
                /*#FEFFFF,*/ rgba(254, 255, 255, $opacity),
                /*#FEFFFF,*/ rgba(254, 255, 255, $opacity),
                /*#EDF4EA,*/ rgba(237, 244, 234, $opacity),
                /*#ECF4E9,*/ rgba(236, 244, 233, $opacity),
                /*#DEF7E6*/ rgba(222, 247, 230, $opacity)
            );

            grid-column: 2 / span 1;
            padding-top: 25px;
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 300px;
                min-width: 200px;
                @include max-mixin(450px) {
                    width: 250px;
                }
            }
            .image1 {
                // border: 3px solid red;
                width: 450px;
                @include max-mixin(450px) {
                    width: 325px;
                }
            }
        }

        /*        .right-half {
                    grid-column: 3 / span 1;
                    background-image: linear-gradient(to left, #DEF7E6, #ECF4E9, #EDF4EA, #FEFFFF);        
                }*/
    }

    .content {
        $content-height: 750px;
        $horizontal-offset: 50%;
        $break-point1: 700px;
        $break-point2: 450px;
        $break-point3: 400px;
        $small-offset: 15%;
        %red-border {
            border: 0px solid red;
        }

        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        /*grid-template-rows: repeat(5, 200px);*/
        /*border: 3px solid blue;*/

        width: 100%;
        /*position: absolute;*/
        .box {
            /*border: 3px solid red;*/
            height: 550px;
        }
    }

    .kirsten {
        width: 100%;

        .quote3 {
            /*border: 3px solid red;*/
            @extend %font-quote3;
            text-align: center;
            margin: 0 auto;
            @include max-mixin(1000px) {
                font-size: 48px;
            }
            @include max-mixin(800px) {
                font-size: 36px;
                padding-left: 5%;
                padding-right: 5%;
            }
        }
    }

    /* ********************************************************************************** */
    .lower-content {
        // border: 3px solid black;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        width: 70%;

        @include max-mixin(1000px) {
            flex-direction: column;
            // display: block;
            min-width: 500px;
        }
        @include max-mixin(600px) {
            max-width: 300px;
        }

        .kirsten-image {
            // border: 2px solid red;
            // width: 179px;
            // height: 200px;
            @include max-mixin(1000px) {
                margin: 0 auto;
                padding-bottom: 15px;
                padding-left: 0;
            }
        }

        .paragraph3,
        .paragraph9 {
            padding-left: 20px;
            padding-top: 5px;
            text-align: left;
        }
        .paragraph3 {
            /*Paragraph 3     Acumen Pro Wide Light 24 pt, 36 px # Holistic Red #703015*/
            @extend %font-paragraph3;
            @include max-mixin(1000px) {
                padding-bottom: 15px;
            }
        }
        .paragraph9 {
            border: 2px solid red;
            padding-right: 10px;
            /*Paragraph 9 	Acumen Pro Regular 24 pt, 36 px. # 83653b*/
            /*@extend %font-paragraph9;*/
            @extend %font-paragraph1;
            .kirsten-signature {
                /*border: 2px solid red;*/
                text-align: right;
                padding-right: 40px;
            }

            #moretext {
                color: #957a2b;
            }
            @include max-mixin(500px) {
                width: 90%;
                min-width: 250px;
                // padding-left: 5%;
                // padding-right: 5%;
            }
            @include max-mixin(400px) {
                // width: 950%;
                // padding-left: 2%;
                // padding-right: 2%;
            }
        }
        @include max-mixin(700px) {
            // width: 90%;
        }
    }

    /* ********************************************************************************** */
    .lower-content1 {
        // border: 3px solid black;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        width: 70%;
        max-width: 950px;

        @include max-mixin(1000px) {
            flex-direction: column;
            min-width: 500px;
        }
        @include max-mixin(600px) {
            width: 90%;
            min-width: 300px;
        }
        @include max-mixin(400px) {
            width: 95%;
            min-width: 250px;
        }

        .kirsten-image {
            // border: 2px solid red;
            // width: 179px;
            // height: 200px;
            @include max-mixin(1000px) {
                margin: 0 auto;
                padding-bottom: 15px;
                padding-left: 0;
            }
        }

        .paragraph9 {
            padding-left: 20px;
            padding-top: 5px;
            text-align: left;
            // border: 2px solid red;
            padding-right: 10px;
            /*Paragraph 9 	Acumen Pro Regular 24 pt, 36 px. # 83653b*/
            /*@extend %font-paragraph9;*/
            @extend %font-paragraph1;
            .kirsten-signature {
                /*border: 2px solid red;*/
                text-align: right;
                padding-right: 40px;
            }

            #moretext {
                color: #957a2b;
            }
            @include max-mixin(500px) {
                width: 90%;
                min-width: 250px;
            }
            @include max-mixin(400px) {
                padding: 0;
                margin: 0 auto;
            }
        }
    }

    /* ********************************************************************************** */
    .kirsten-join1 {
        // border: 3px solid black;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        width: 70%;
        max-width: 950px;
        text-align: left;;
        padding-left: 0;

        @include max-mixin(1000px) {
            flex-direction: column;
            // display: block;
            min-width: 500px;
            // padding-left: 20px;
            padding-top: 10px;
        }
        @include max-mixin(600px) {
            width: 90%;
            min-width: 300px;
        }
        @include max-mixin(400px) {
            width: 95%;
            min-width: 250px;
        }

        .paragraph3 {
            padding-top: 5px;
            // text-align: left;
            // border: 2px solid red;
            padding-right: 10px;
            /*Paragraph 9 	Acumen Pro Regular 24 pt, 36 px. # 83653b*/
            /*@extend %font-paragraph9;*/
            @extend %font-paragraph1;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #703015;
            #moretext {
                color: #957a2b;
            }
            @include max-mixin(1000px) {
                padding-left: 20px;
            }
                @include max-mixin(500px) {
                width: 90%;
                min-width: 250px;
            }
            @include max-mixin(400px) {
                padding: 0;
                margin: 0 auto;
            }
        }
    }

    .kirsten-join {
        // border: 2px solid red;
        width: 70%;
        min-width: 500px;
        margin: 0 auto;
        @include max-mixin(600px) {
            width: 90%;
            min-width: 300px;
        }
        @include max-mixin(400px) {
            width: 95%;
            min-width: 250px;
        }

        .paragraph3 {
            text-align: left;
            /*Paragraph 3     Acumen Pro Wide Light 24 pt, 36 px # Holistic Red #703015*/
            // padding-left: 20px;
            padding-top: 5px;
            text-align: left;

            // @extend %font-paragraph3;
            @extend %font-paragraph1;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #703015;
            // letter-spacing: 2.1px;

            @include max-mixin(1000px) {
                padding-bottom: 15px;
                padding-left: 20px;
            }
        }
        @include max-mixin(600px) {
            width: 90%;
            min-width: 300px;
        }
        @include max-mixin(500px) {
            // width: 90%;
            // min-width: 250px;
            // padding: 0;
        }
        @include max-mixin(400px) {
            width: 95%;
            min-width: 250px;
        }
    }

    .video-block {
        width: 70%;
        min-width: 9px;
        max-width: 1015px;
        max-width: 900px;
        // height: 435px;
        margin: 0 auto;
        background-color: rgba(149, 122, 43, 0.55);
        border: 2px solid rgba(113, 45, 3, 1);
        margin-bottom: 50px;
        display: flex;
        @include max-mixin(1055px) {
            min-width: 500px;
            flex-direction: column;
            height: auto;
            align-items: center;
            display: block;
        }
        @include max-mixin(525px) {
            min-width: 200px;
            width: 100%;
        }
        @include max-mixin(400px) {
            padding-left: 0;
        }

        &__video {
            // border: 1px solid black;
            width: 50%;
            min-width: 380px;
            font-size: 24px;
            // padding: 25px;
            // padding-right: 10px;
            margin: 10px;
            align-self: center;

            @include max-mixin(1050px) {
                width: 90%;
                padding: 20px;
                margin: 0 auto;
                padding-bottom: 0;
            }
            @include max-mixin(450px) {
                min-width: 20px;
                width: 87%;
            }
            // margin: 0 auto;
            a img {
                width: 100%;
                margin: 0 auto;
            }
        }
        &__text {
            // border: 1px solid black;
            font-family: Open Sans;
            width: 50%;
            // min-width: 500px;;
            font-size: 20px;
            font-weight: normal;
            padding: 20px 0px 20px 10px;
            padding-top: 30px;
            @include max-mixin(1050px) {
                width: 90%;
                padding-top: 0;
                padding: 15px;
            }
            // padding-left: 10px;
            margin: 10px;
            color: rgba(113, 45, 3, 1);
            text-align: left;
            .kirsten {
                display: flex;
                justify-content: flex-end;
            }
            margin: 0 auto;
        }
        @include max-mixin(400px) {
            padding-left: 0;
        }
    }

    .appointment-block {
        width: 50%;
        margin: 0 auto;
        /*        background-color: rgba(153, 204, 153, .2);
                box-shadow: 0px 0px 10px 20px rgba(153, 204, 153, .2);
                border-radius: 20px;*/
        @extend %green-background;
    }
}
